In [12]:
import pandas as pd
import pymysql

connection = pymysql.connect(
    host='localhost',
    user='root',  
    password='rootroot', 
    database='shopping_trends'
)

query = 'SELECT * FROM shopping_trends'
df = pd.read_sql(query, connection)

connection.close()

/var/folders/k3/wsr70bln3hq2nzxt3_19lhs00000gn/T/ipykernel_24911/1315646374.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

In [6]:
import pandas as pd  # Importa pandas per la manipolazione e l'analisi dei dati
import matplotlib.pyplot as plt  # Importa matplotlib per la visualizzazione dei dati
import seaborn as sns  # Importa seaborn per visualizzare e analizzare i dati in modo pi√π elegante
from sklearn.model_selection import train_test_split  # Importa train_test_split per dividere i dati in set di addestramento e test
from sklearn.linear_model import LinearRegression  # Importa LinearRegression per creare modelli di regressione
from sklearn.cluster import KMeans  # Importa KMeans per eseguire clustering
from sklearn.metrics import mean_squared_error, r2_score  # Importa metriche di valutazione per modelli

In [14]:
# Visualizzare le prime righe
print(df.head())

# Informazioni sui dati
print(df.info())

# Statistiche descrittive
print(df.describe())

   customer_id  age gender item_purchased  category  purchase_amount_usd  \
0            1   55   Male         Blouse  Clothing                   53
1            2   19   Male        Sweater  Clothing                   64
2            3   50   Male          Jeans  Clothing                   73
3            4   21   Male        Sandals  Footwear                   90
4            5   45   Male         Blouse  Clothing                   49

        location size      color  season  review_rating subscription_status  \
0       Kentucky    L       Gray  Winter            3.1                 Yes
1          Maine    L     Maroon  Winter            3.1                 Yes
2  Massachusetts    S     Maroon  Spring            3.1                 Yes
3   Rhode Island    M     Maroon  Spring            3.5                 Yes
4         Oregon    M  Turquoise  Spring            2.7                 Yes

  payment_method  shipping_type discount_applied promo_code_used  \
0    Credit Card        Express              Yes             Yes
1  Bank Transfer        Express              Yes             Yes
2           Cash  Free Shipping              Yes             Yes
3         PayPal   Next Day Air              Yes             Yes
4           Cash  Free Shipping              Yes             Yes

   previous_purchases preferred_payment_method frequency_of_purchases
0                  14                    Venmo          Fortnightly\r
1                   2                     Cash          Fortnightly\r
2                  23              Credit Card               Weekly\r
3                  49                   PayPal               Weekly\r
4                  31                   PayPal             Annually\r
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               3900 non-null   int64
 1   age                       3900 non-null   int64
 2   gender                    3900 non-null   object
 3   item_purchased            3900 non-null   object
 4   category                  3900 non-null   object
 5   purchase_amount_usd       3900 non-null   int64
 6   location                  3900 non-null   object
 7   size                      3900 non-null   object
 8   color                     3900 non-null   object
 9   season                    3900 non-null   object
 10  review_rating             3900 non-null   float64
 11  subscription_status       3900 non-null   object
 12  payment_method            3900 non-null   object
 13  shipping_type             3900 non-null   object
 14  discount_applied          3900 non-null   object
 15  promo_code_used           3900 non-null   object
 16  previous_purchases        3900 non-null   int64
 17  preferred_payment_method  3900 non-null   object
 18  frequency_of_purchases    3900 non-null   object
dtypes: float64(1), int64(4), object(14)
memory usage: 579.0+ KB
None
       customer_id          age  purchase_amount_usd  review_rating  \
count  3900.000000  3900.000000          3900.000000    3900.000000
mean   1950.500000    44.068462            59.764359       3.749949
std    1125.977353    15.207589            23.685392       0.716223
min       1.000000    18.000000            20.000000       2.500000
25%     975.750000    31.000000            39.000000       3.100000
50%    1950.500000    44.000000            60.000000       3.700000
75%    2925.250000    57.000000            81.000000       4.400000
max    3900.000000    70.000000           100.000000       5.000000

       previous_purchases
count         3900.000000
mean            25.351538
std             14.447125
min              1.000000
25%             13.000000
50%             25.000000
75%             38.000000
max             50.000000